<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Diretório base quando vazio o sistema utiliza a variável de ambiente HOMEDRIVE + HOMEPATH -->
    <add key="baseDir" value="c:\SalesImporter" />
    <!--Diretório de Log é criado no mesmo diretório onde fica o executável-->
    <add key="logDir" value="logs" />
    <!--Diretórios ficam dentro do diretório base-->
    <add key="inputDir" value="data\in" />
    <add key="outputDir" value="data\out" />
    <add key="processedFilesDir" value="data\processed" />
    <add key="ignoredFilesDir" value="data\ignored" />
    <add key="extentionFile" value=".dat" />
    <add key="processedExtentionFile" value=".done.dat" />
    <add key="separator" value="ç" />
    <!--Exemplo da linha de itens: [1-10-100,2-30-2.50,3-40-3.10]-->
    <add key="itensInitialMark" value="[" />
    <!--itensInitialMark: Deve ser apenas 1 caracter-->
    <add key="itensFinalMark" value="]" />
    <!--itensFinalMark: Deve ser apenas 1 caracter-->
    <add key="itensSeparator" value="," />
    <add key="itemSeparator" value="-" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>